<p class="">Hello,
  We received a request to reset your password. Please create a new password by clicking this link:
  <%= link_to "#{Rails.application.credentials[Rails.env.to_sym][:app_url]}/set-password/#{@user.reset_password_token}", "#{Rails.application.credentials[Rails.env.to_sym][:app_url]}/set-password/#{@user.reset_password_token}" %>
  </div>
