<h2>New application received</h2>
<div class="info">🙌 Someone just applied to a job you're assigned to</div>
<p>
  <%=@candidate.name %> applied to the <%=@job.title %> position. Click the button below view their application.
</p>
<a href='<%= "#{Rails.application.credentials[Rails.env.to_sym][:app_url]}/jobs/#{@job.slug}/stages/inbox/applicants/#{@candidate.id}" %>' class="btn btn-primary">View application</a>
